/demographic_data
/sz
/sz_extracted_features
/td
/td_extracted_features
/csv_files
/word_figures
Maries rettelser.docx
NOTER Voice classification in schizophrenia - the implementation of a conservative pipeline.docx
Voice classification in schizophrenia - the implementation of a conservative pipeline.docx
Stinnes rettelser.pdf
/.ipynb_checkpoints
